@import "../../../../assets/styles/variables";

.filters_container {
  height: map-get($filters, height);
  margin: map-get($filters, margin) 0;
}

.filter_item {
  width: 2.5rem;
  min-width: 2.5rem;
  height: 2.5rem;
  min-height: 2.5rem;
  margin-left: 1rem;
  border: 2px solid $veryLightGrey;
  color: $veryLightGrey;
  transition: all 0.5s;

  & > i {
    color: $veryLightGrey;
  }

  &:hover {
    border-color: $secondary;
    color: $secondary;
  }

  &.java {
    &:hover,
    &:hover > i {
      border-color: $java;
      color: $java;
      transition: all 0.5s;
    }
  }

  &.selected_java {
    border-color: $java;

    & > i {
      color: $java;
    }
  }

  &.javascript {
    &:hover,
    &:hover > i {
      border-color: $javascript;
      color: $javascript;
      transition: all 0.5s;
    }
  }

  &.selected_javascript {
    border-color: $javascript;

    & > i {
      color: $javascript;
    }
  }

  &.php {
    &:hover,
    &:hover > i {
      border-color: $php;
      color: $php;
      transition: all 0.5s;
    }
  }

  &.selected_php {
    border-color: $php;

    & > i {
      color: $php;
    }
  }

  &.unclassified_selected {
    border-color: $secondary;
    color: $secondary;
  }
}
