@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.list_container {
  height: calc(100vh - #{map-get($header, height)} - #{map-get($filters, height)});
  overflow: auto;

  @include scrollbar;
}

.skill_item {
  background-color: rgba($grey, 1);
  display: inline-block;
  color: $white;
}

.offer_type_indicator {
  width: 0.5rem;
  background-color: rgba($secondary, 1);

  &.javascript {
    background-color: $javascript;
  }
  &.java {
    background-color: $java;
  }
  &.php {
    background-color: $php;
  }
}
