@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.map_container {
  height: calc(100vh - #{map-get($header, height)});
  width: 60%;

  @media (max-width: $lg-breakpoint) {
    width: 40%;
  }
}

.list_container {
  height: calc(100vh - #{map-get($header, height)} - #{map-get($filters, height)});
  overflow: auto;

  @include scrollbar;
}

.children_content {
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  height: 100%;
  z-index: map-get($z-index, over-map);

  @media (max-width: $lg-breakpoint) {
    width: 80%;
  }

  & > div {
    background: linear-gradient(to right, transparent 0, $white 40%);
    width: 100%;
  }
}

.offer_description_container {
  width: 75%;
}

.offer_description {
  height: calc(100vh - #{map-get($header, height)} - #{map-get($filters, height) - #{map-get($filters, margin) * 2}});
  overflow: auto;

  @include scrollbar;
}

.company_logo {
  top: 1rem;
  right: 1rem;
}

.offer_type_indicator {
  height: 0.5rem;

  @include offer-type-indicator;
}
