@import "../../../assets/styles/variables";

.map_container {
  height: calc(100vh - #{map-get($header, height)});
  width: 85%;

  @media (max-width: $lg-breakpoint) {
    width: 60%;
  }
}

.children_content {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
  z-index: map-get($z-index, over-map);

  @media (max-width: $lg-breakpoint) {
    width: 50%;
  }

  & > div {
    background: linear-gradient(to right, transparent 0, $white 40%);
    width: 100%;
  }
}
