@import "variables";

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $veryLightGrey;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 6px rgba($black, 0.25);
    transition: all 0.5s;

    &:hover {
      background-color: $lightGrey;
      transition: all 0.5s;
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 0.25rem;
    background-color: $grey;
  }
}

@mixin offer-type-indicator {
  background-color: rgba($secondary, 1);

  &.javascript {
    background-color: $javascript;
  }
  &.java {
    background-color: $java;
  }
  &.php {
    background-color: $php;
  }
}
