$black: #161616;
$white: #fafafa;

$grey: #5b5b62;
$lightGrey: #949499;
$veryLightGrey: #dadada;

$primary: #009e6d;
$secondary: #8338ec;

$javascript: #f7df1e;
$java: #fb5607;
$php: #4cc9f0;

$lg-breakpoint: 1280px;

$z-index: (
  over-map: 1000,
  top: 2000,
);

$header: (
  height: 3rem,
);

$filters: (
  height: 2.5rem,
  margin: 1.5rem,
);
