@import "variables";

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: $black;
}

body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  overflow: hidden;
}

.technology-icon {
  font-size: 3rem;

  & > i {
    color: $secondary;
    position: relative;

    i {
      color: $white;
      font-size: 1rem;
      position: absolute;
      left: 50%;
      top: 8px;
      transform: translateX(-50%);
      filter: drop-shadow(3px 0px 6px rgba($black, 0.5));
    }
  }

  &.javascript > i i,
  &.jav > i i,
  &.php > i i {
    font-size: 1.25rem;
  }

  &.javascript > i {
    color: $javascript;

    i {
      color: $black;
    }
  }

  &.java > i {
    color: $java;
  }

  &.php > i {
    color: $php;
  }
}

.text-primary {
  color: $primary;
}

.height-without-header {
  height: calc(100vh - #{map-get($header, height)});
}
